     <div class="table-header">
      <button mat-button (click)="editEmployee(newEmployee)">
        <mat-icon>add_circle</mat-icon> Add Employee
      </button>
      <button mat-button (click)="addRole()">
        <mat-icon>add_circle</mat-icon> Add Role
      </button>
      <button mat-button (click)="exportToExcel()"> <mat-icon>cloud_download</mat-icon> Export to Excel </button>
    
      <div class="filter-container">
        <input matInput type="text" placeholder="Search by name" [(ngModel)]="inputToFilter" (input)="filter()" />
        <mat-icon class="search-icon">search</mat-icon>
      </div>
      
      <div class="filter-container">
        <mat-radio-group (change)="onSelectionChange($event)">
          <mat-radio-button [value]="null">Cancel</mat-radio-button>
          <mat-radio-button [value]="0">Male</mat-radio-button>
          <mat-radio-button [value]="1">Female</mat-radio-button>
        </mat-radio-group>
      </div>
      
     </div>
    
     <table class="employees-table">
      <thead>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Identification Number</th>
          <th>Employment Start Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let employee of employees">
          <tr>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.identificationNumber }}</td>
            <td>{{ employee.employmentStartDate }}</td>
            <td>
              <button mat-icon-button (click)="editEmployee(employee)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="showDetailes(employee)">
                <mat-icon>info</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteEmployee(employee.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    