<form [formGroup]="roleForm" class="role-form">
    <mat-form-field>
        <mat-label>Role Name</mat-label>
        <input matInput type="text" id="roleName" formControlName="roleName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Role Type:</mat-label>
        <mat-select id="isManagementRole" formControlName="isManagementRole">
            <mat-option [value]="true">Management</mat-option>
            <mat-option [value]="false">Non-Management</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="add()" [disabled]="!this.roleForm.valid">
        <mat-icon>add</mat-icon> ADD
    </button>
</form>