
.filter-container {
    margin-left: 10px;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .filter-container input[type="text"] {
    width: 200px;
    padding: 8px 30px 8px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  
  .filter-container input[type="text"]::placeholder {
    color: #999;
  }
  
  .filter-container .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #999;
  }
  
  .mat-radio-button {
    margin-right: 10px;
  }
  
  .mat-radio-button:last-child {
    margin-right: 0;
  }