<div id="links">
  <button mat-button routerLink="/user/login" *ngIf="!isUserLoggedIn">
    <mat-icon>login</mat-icon> Log in
  </button>
  <button mat-button routerLink="/user/register">
    <mat-icon>person_add</mat-icon> Register
  </button>
  <button mat-button routerLink="/employee/allEmployees">
    <mat-icon>library_books</mat-icon> All Employees
  </button>
  <button mat-button routerLink="/user/logout" *ngIf="isUserLoggedIn">
    <mat-icon>exit_to_app</mat-icon> Log out
  </button>
</div>

<router-outlet></router-outlet>
<footer id="footer">
  <div id="copyright">
    <span>ruth0533137873&#64;gmail.com</span>
  </div>
</footer>