<div id="links">
  <button routerLink="/home">
    <mat-icon>home</mat-icon> Home Page
  </button>
  <!-- <button mat-button routerLink="/user/login">
    <mat-icon>login</mat-icon> Log in
  </button> -->
  <button routerLink="/employee/allEmployees">
    <mat-icon>library_books</mat-icon>
    All Employees</button>
  <button routerLink="/employee/add">
    <mat-icon>add_circle</mat-icon> Add Employee
  </button>
  <!-- <button mat-button routerLink="/user/logout">
    <mat-icon>exit_to_app</mat-icon> Log out
  </button> -->
</div>
<router-outlet></router-outlet>
<footer id="footer">
  <div id="copyright">
    <span>ruth0533137873&#64;gmail.com</span>
  </div>
</footer>