@import '@angular/material/prebuilt-themes/indigo-pink.css';


.mat-button {
    // background-color: #4CAF50;
    color: white;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mat-button:hover {
    // background-color: #388E3C;
    color: white;
}

#links {
    display: flex;
    justify-content: space-evenly;
}

#footer {
    bottom: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#copyright {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
