// form {
//     display: flex;
//     justify-content: space-around;
//     margin-top: 1%;
// }
.employee-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: auto;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  mat-icon {
    color: gray;
    cursor: pointer;
  }
  .form-field{
    display: flex;
  }
  .form-field2{
    display: flex;
    flex-direction: column;
  }
  mat-form-field{
    margin: 5px;
    width: 250px;
  }
